/* #vehicles{
    width: 100%;
    height: max-content;
    display: flex;

    a {
        text-decoration: none;
        color: inherit;
    }
}

#vehicles .first-section {

    .images {
        width: 250px;
        height: 160px;
    }

    img {
        width: inherit;
        object-fit: contain;
        object-position: center;
    }
}

#vehicles .first-section {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-left: 11em;
    width: 800px;
}

#vehicles .first-section .sub-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.divider {
    width: 3px;
    background-color: rgba(0, 0, 0, 0.2);

    margin-inline: 2em;
}

.last-section {
    ul{
        padding-left: 0;
        margin-left: 20px;
    }
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-block: 1em;
        font-weight: 600;
    }
} */

#Discover {
    display: flex;
    width: 100%;
    justify-content: center;

    h4 {
        font-weight: 600;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.3);
    }

    a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    li{
        list-style: none;
        padding-bottom: 1rem;
    }

    ul {
        padding-left: 0;
    }
}

#Discover div {
    margin-inline: 2rem;
}

#Discover a:hover {
    border-bottom: solid 2px black;
}































































