:root {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

#top-ad {
    background: orange;
    position: sticky;
    top: 0;
    left: 0;
    padding-block: 1.5em;
    text-align: center;
}

#hero {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-block: 6px;
}

#hero .logo {
    width: 30dvw;
}
#hero .logo h2 {
    margin: 0;
    padding: 0;
    margin-left: 2.5em;
}

#hero nav{

}

#hero nav ul{
    display: flex;
    padding-left: 0;
    margin: 0;
    align-items: center;
}

#hero nav li{
    list-style: none;
}

#hero nav li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-inline: 10px;
    padding-block: 6px;
}

#hero nav li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding-inline: 10px;
    padding-block: 6px;
}

#hero .others {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

section {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #fff;

    h2{
        padding: 0;
        margin: 0;
        font-size: 4rem;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
}

section .property-option {
    display: flex;
    gap: 1.5em;

    a {
        padding-inline: 3rem;
        padding-block: 10px;
        text-transform: uppercase;
        border-radius: 5px;
    }
}

section .property-option .order {
    background-color: #0000ff86;
    color: #fff;
}

section .property-option .learn{
    background-color: antiquewhite;
    color: black;
}


#section-one {
    background-image: url(Images/Model\ X.jpg);
}
#section-two {
    background-image: url(Images/Model\ S.jpg);
}
#section-three {
    background-image: url(Images/Model\ 3.jpg);
}
#section-four {
    background-image: url(Images/Model\ X.jpg);
}
















































