:root {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

#top-ad {
    background: orange;
    position: sticky;
    top: 0;
    left: 0;
    padding-block: 1.5em;
    text-align: center;
}

#body {
    position: relative;
}

#hero {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-block: 6px;
    color: #fff;

    position: absolute;
    z-index: 20;
    width: 100%;
}

#hero[hovered] {
    background-color: #fff;
    color: #000;
}

#hero .logo {
    width: 30dvw;
}
#hero .logo h2 {
    margin: 0;
    padding: 0;
    margin-left: 2.5em;
}

#hero nav{

}

#hero nav ul{
    display: flex;
    padding-left: 0;
    margin: 0;
    align-items: center;
}

#hero nav li{
    list-style: none;
}

#hero nav li button{
    background-color: inherit;
    color: inherit;
    border: none;
}

#hero nav li a {
    text-decoration: none;
    color: inherit;
}

#hero nav ul li > * {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding-inline: 15px;
    padding-block: 6px;
}

#hero .others {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.classes {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #fff;

    padding-top: 80px;

    h2{
        padding: 0;
        margin: 0;
        font-size: 4rem;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
}

.classes .property-option {
    display: flex;
    gap: 1.5em;

    a {
        padding-inline: 3rem;
        padding-block: 10px;
        text-transform: uppercase;
        border-radius: 5px;
    }
}

.classes .property-option .order {
    background-color: #0000ff86;
    color: #fff;
}

.classes .property-option .learn{
    background-color: antiquewhite;
    color: black;
}


#section-one {
    background-image: url(Images/Model\ X.jpg);
}
#section-two {
    background-image: url(Images/Model\ S.jpg);
}
#section-three {
    background-image: url(Images/Model\ 3.jpg);
}
#section-four {
    background-image: url(Images/Model\ X.jpg);
}

/* For nav divs  */

.nav-drop {
    position: absolute;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #fff;

    display: none;
}

.nav-drop[hovered] {
    display: flex;
}

#vehicles{
    width: 100%;
    height: max-content;

    a {
        text-decoration: none;
        color: inherit;
    }
}

#vehicles .first-section {

    .images {
        width: 250px;
        height: 160px;
    }

    img {
        width: inherit;
        object-fit: contain;
        object-position: center;
    }
}

#vehicles .first-section {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-left: 11em;
    width: 800px;
}

#vehicles .first-section .sub-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.divider {
    width: 3px;
    background-color: rgba(0, 0, 0, 0.2);

    margin-inline: 2em;
}

.last-section {
    ul{
        padding-left: 0;
        margin-left: 20px;
    }
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-block: 1em;
        font-weight: 600;
    }
}














































